:root{
    --global-font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1;
    --h1-font-family: Copperplate, Arial, sans-serif;
    --rounded: 20px;
    /*COLOR SCHEME 1*/
    /*
    --colord1: #FFD9DA;
    --colord2: #EA638C;
    --colord3: #89023E;
    --colord4: #30343F;
    --colord5: #1B2021;
    */

    
    /*COLOR SCHEME 2*/
    
    --colord1: #FFD9DA;
    --colord2: #EA638C;
    --colord3: #5A213E;
    --colord4: #30343F;
    --colord5: #1B2021;'
	--colord3t: rgba(90, 33, 62, 0.5)
    
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

html{
	height: 100%;
  	width: 100%;
  	margin: 0px;
	padding: 0px;
  	background-color: var(--colord3, black);
}

body{
	width: 100%;
  	margin: 0px;
  	background-color: var(--colord3, black);
}

.topnav{
	margin: 0%;
	padding: 20px;
	position: fixed;
	z-index: 4;
  	overflow: hidden;
	width: 100%;
  	background-color: var(--colord3, black);
  	box-shadow: 0px 10px 10px var(--colord3, black);
    
}

.topnav a{
	float: right;
	color: var(--colord1, white);
	text-align: center;
	text-decoration: bold;
	font-family: var(--global-font-family, sans-serif);
	font-size: 20px;
	padding: 20px 20px 0px 20px;
}

.topnav a:hover{
  	background-color: var(--colord1, lightpink);
  	color: var(--colord5, black);
}

.topnav p{
  	float: left;
  	color: var(--colord1, white);
  	text-align: bottom;
  	text-decoration: none;
  	font-family: var(--global-font-family, sans-serif);
  	font-size: 16px;
  	padding: 2px 2px;
}

.logo a{
  	float: left;
  	padding: 2px 2px;
}

.spacer{
	width: 100%;
  	height: 100px;
	padding: 50px 0px 50px 0px;
  	background-color: var(--colord2, black);
}

.side_float{
  	overflow: hidden;
  	float: left;
  	width: 45%;
	padding-top: 35%;
  	padding: 25px;
  	text-align: center;
  	font-family: var(--global-font-family, sans-serif);
  	background-color: var(--colord1, gray);
  	border-radius: var(--rounded, 20px);
  	box-shadow: 0px 4px 8px var(--colord5, black), 0px 6px 20px var(--colord4, gray);
  	margin: auto;
}

.content_holder{
  	overflow: hidden;
  	display: inline-block;
  	width: 95%;
	mar-top: 100px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
  	padding: 25px;
  	text-align: center;
  	font-family: var(--global-font-family, sans-serif);
  	background-color: var(--colord1, gray);
  	border-radius: var(--rounded, 20px);
  	box-shadow: 0px 4px 8px var(--colord5, black), 0px 6px 20px var(--colord4, gray);
}

.hero{
	margin-left: 20px;
	margin-right: 20px;
	width: 30%;
}
.double_col{
	overflow: hidden;
  	float: top;
  	width: 90%;
  	margin: auto;
  	padding: 15px;
  	background-color: var(--colord1, white);
}
.double_col_sec{
	width: 45%;
  	float: left;
  	padding: 1%;
  	font-family: var(--h1-font-family, sans-serif);
}
.section1_parent{
  	overflow: hidden;
  	width: 100%;
  	/*margin: auto;*/
  	padding: 100px, 0px, 100px,0px;
	/*z-index: 3;*/
  	background-color: var(--colord2, yellow);
}

.section2_parent{
  	overflow: hidden;
  	width: 100%;
  	margin: auto;
  	padding: 15px, 0px, 15px, 0px;
  	background-color: var(--colord3, green);
}

.pink_transition{
	background-image: "./images/transition1.png";
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
	height: auto;
	overflow: hidden;
}

.triplet_col{
	overflow: hidden;
  	float: top;
  	width: 75%;
  	margin: auto;
  	padding: 15px;
  	background-color: var(--colord1, white);
}

.col_blurb{
	width: 30%;
  	float: left;
  	padding: 1%;
  	font-family: var(--h1-font-family, sans-serif);
}
.img{
  	min-width: 100%;
  	min-height: 100%;
  	width: auto;
  	height: auto;
}

.h1{
  	font-size: 40px;
  	text-decoration: bold;
  	font-family: var(--h1-font-family, sans-serif);
}

.p{
  	font-family: var(--global-font-family, sans-serif);
  	font-size: 16px;
}
