:root{
    --global-font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1;
    --h1-font-family: Copperplate, Arial, sans-serif;
    --rounded: 20px;
    
    /*COLOR SCHEME*/
    
    --color1: #5a213eff; /*crimson-violet*/
	--color2: #ffd9daff; /*soft-blush*/
	--color3: #ea638cff; /*blush-rose*/
	--color4: #31d6e6ff; /*strong-cyan*/
	--color5: #6bd346ff; /*radioactive-grass*/
	--color1t: rgba(90, 33, 62, 0.5); /*translucent-crimson-violet*/
	
	/* CSS HSL */
	--crimson-violet: hsla(329, 46%, 24%, 1);
	--soft-blush: hsla(358, 100%, 93%, 1);
	--blush-rose: hsla(342, 76%, 65%, 1);
	--strong-cyan: hsla(185, 78%, 55%, 1);
	--radioactive-grass: hsla(104, 62%, 55%, 1);
	
	/* SCSS HEX 
	$crimson-violet: #5a213eff;
	$soft-blush: #ffd9daff;
	$blush-rose: #ea638cff;
	$strong-cyan: #31d6e6ff;
	$radioactive-grass: #6bd346ff;
	
	SCSS HSL 
	$crimson-violet: hsla(329, 46%, 24%, 1);
	$soft-blush: hsla(358, 100%, 93%, 1);
	$blush-rose: hsla(342, 76%, 65%, 1);
	$strong-cyan: hsla(185, 78%, 55%, 1);
	$radioactive-grass: hsla(104, 62%, 55%, 1);
	
	SCSS RGB
	$crimson-violet: rgba(90, 33, 62, 1);
	$soft-blush: rgba(255, 217, 218, 1);
	$blush-rose: rgba(234, 99, 140, 1);
	$strong-cyan: rgba(49, 214, 230, 1);
	$radioactive-grass: rgba(107, 211, 70, 1);
	
	SCSS Gradient 
	$gradient-top: linear-gradient(0deg, #5a213eff, #ffd9daff, #ea638cff, #31d6e6ff, #6bd346ff);
	$gradient-right: linear-gradient(90deg, #5a213eff, #ffd9daff, #ea638cff, #31d6e6ff, #6bd346ff);
	$gradient-bottom: linear-gradient(180deg, #5a213eff, #ffd9daff, #ea638cff, #31d6e6ff, #6bd346ff);
	$gradient-left: linear-gradient(270deg, #5a213eff, #ffd9daff, #ea638cff, #31d6e6ff, #6bd346ff);
	$gradient-top-right: linear-gradient(45deg, #5a213eff, #ffd9daff, #ea638cff, #31d6e6ff, #6bd346ff);
	$gradient-bottom-right: linear-gradient(135deg, #5a213eff, #ffd9daff, #ea638cff, #31d6e6ff, #6bd346ff);
	$gradient-top-left: linear-gradient(225deg, #5a213eff, #ffd9daff, #ea638cff, #31d6e6ff, #6bd346ff);
	$gradient-bottom-left: linear-gradient(315deg, #5a213eff, #ffd9daff, #ea638cff, #31d6e6ff, #6bd346ff);
	$gradient-radial: radial-gradient(#5a213eff, #ffd9daff, #ea638cff, #31d6e6ff, #6bd346ff);
    */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

html{
	height: 100%;
  	width: 100%;
  	margin: 0px;
	padding: 0px;
  	background-color: var(--color1, black);
}

body{
	width: 100%;
  	margin: 0px;
  	background-color: var(--color1, black);
}

.topnav{
	margin: 0%;
	padding: 20px;
	position: fixed;
	z-index: 4;
  	overflow: hidden;
	width: 100%;
  	background: linear-gradient(black, var(--color1, black));
  	box-shadow: -10px 10px 14px var(--color1, black);
    
}

.topnav a{
	float: right;
	color: var(--colord1, white);
	text-align: center;
	text-decoration: bold;
	font-family: var(--global-font-family, sans-serif);
	font-size: 20px;
	padding: 20px 30px 0px 20px;
}

.topnav a:hover{
  	background-color: var(--color2, lightpink);
  	color: var(--color1, black);
}

.topnav p{
  	float: left;
  	color: var(--color2, white);
  	text-align: bottom;
  	text-decoration: none;
  	font-family: var(--global-font-family, sans-serif);
  	font-size: 16px;
  	padding: 2px 2px;
}

.logo a{
  	float: left;
  	padding: 2px 2px;
}

.spacer{
	width: 100%;
  	height: 50px;
	padding: 50px 0px 50px 0px;
  	background-color: var(--color1, black);
}

.spacer2{
	width: 100%;
  	height: 30px;
	padding: 50px 0px 50px 0px;
  	background-color: var(--color2, white);
}


.formcarry-container{
	background-color: var(--color5, gray);
	height: 600px;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 20px 50px 20px;
}

.formcarry-form label {
  	display: block;
	padding: 12px 0 2px 0;
	letter-spacing: -0.2px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
}

.formcarry-form input {
	display: block;
}

.formcarry-form textarea {
	width: 400px;
	height: 200px;
}

.formcarry-form button {
	display: block;
	margin-top: 20px;
	padding: 12px 20px;
	border-radius: 8px;
	border-color: transparent;
	background-color: var(--color3, green);
	font-weight: 700;
	font-size: 20px;
}

.float1 {
	float: left;
	margin: 10px 20px 10px 0px;
	width: 45%;	
}

.float2 {
	float: left;
	margin: 10px 20px 10px 0px;
	width: 100%;	
}

.float_under{
	width: 100%;
}

.side_float{
  	overflow: hidden;
  	float: left;
  	width: 45%;
	padding-top: 35%;
  	padding: 25px;
  	text-align: center;
  	font-family: var(--global-font-family, sans-serif);
  	background-color: var(--color2, white);
  	border-radius: var(--rounded, 20px);
  	box-shadow: 0px 4px 8px var(--colord5, black), 0px 6px 20px var(--color1, gray);
  	margin: auto;
}

.content_holder{
  	overflow: hidden;
  	display: inline-block;
  	width: 95%;
	mar-top: 100px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
  	padding: 25px;
  	text-align: center;
  	font-family: var(--global-font-family, sans-serif);
  	background-color: var(--color1, black);
  	border-radius: var(--rounded, 20px);
  	box-shadow: 0px 4px 8px var(--color1, black), 0px 6px 20px var(--color1t, gray);
}

.hero{
	margin-left: 20px;
	margin-right: 20px;
	width: 30%;
}
.double_col{
	overflow: hidden;
  	float: top;
  	width: 90%;
  	margin: auto;
  	padding: 15px;
  	background-color: var(--color2, white);
}
.double_col_sec{
	width: 45%;
  	float: left;
  	padding: 1%;
  	font-family: var(--h1-font-family, sans-serif);
}
.section1_parent{
  	overflow: hidden;
  	width: 100%;
  	/*margin: auto;*/
  	padding: 100px, 0px, 100px,0px;
	/*z-index: 3;*/
  	background-color: var(--color3, yellow);
}

.section2_parent{
  	overflow: hidden;
  	width: 100%;
  	margin: auto;
  	padding: 15px, 0px, 15px, 0px;
  	background-color: var(--colord3, green);
}

.pink_transition{
	background-image: "./images/transition1.png";
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
	height: auto;
	overflow: hidden;
}

.triplet_col{
	overflow: hidden;
  	float: top;
  	width: 75%;
  	margin: auto;
  	padding: 15px;
  	background-color: var(--colord1, white);
}

.col_blurb{
	width: 30%;
  	float: left;
  	padding: 1%;
  	font-family: var(--h1-font-family, sans-serif);
}
.img{
  	min-width: 100%;
  	min-height: 100%;
  	width: auto;
  	height: auto;
}

.h1{
  	font-size: 40px;
  	text-decoration: bold;
  	font-family: var(--h1-font-family, sans-serif);
}

.p{
  	font-family: var(--global-font-family, sans-serif);
  	font-size: 16px;
}
